::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff; }

html {
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff;
  focus: none;
  text-decoration: none; }

.wrapper {
  width: 1440px;
  max-width: 95%; }

header {
  position: fixed;
  top: 0px;
  margin: auto;
  z-index: 99999;
  width: 100%;
  background-color: #000000; }
  header .social-wrapper {
    position: relative;
    top: -3px; }
  header img {
    height: 3rem;
    width: auto; }

.header {
  height: 80px; }
  .header .wrapper {
    padding-top: 30px; }
  .header a {
    font-family: 'Work Sans', sans-serif; }

.nav-wrapper {
  float: right; }

.nav .nav-links a {
  color: #ffffff;
  font-size: 16pt;
  letter-spacing: -.05em;
  margin-right: 3em;
  padding-bottom: 20px;
  display: inline-block; }

.social-wrapper a {
  position: relative;
  margin-left: .8rem; }
.social-wrapper a:hover {
  top: -3px; }

.bannerimg {
  margin-top: 80px;
  background-image: url("../images/bannerimg.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: auto;
  background-size: cover;
  background-position: 0% 60%; }

.carousel-inner {
  height: 650px; }
  .carousel-inner .item, .carousel-inner img {
    height: 100% !important;
    width: 100% !important; }

.jamie {
  position: relative;
  top: -20px;
  margin-left: 100px;
  font-size: 4.5rem;
  color: #ffffff;
  font-family: 'Codystar', cursive;
  font-weight: 700; }

.soundcloud {
  padding: 120px 0;
  text-align: center;
  background-color: black; }

#gallery {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-attachment: fixed; }

.gallery-wrapper {
  padding-top: 50px;
  margin: auto;
  width: 80%; }
  .gallery-wrapper figure {
    transform: scale(1);
    transition: all 0.1s ease-in-out; }
  .gallery-wrapper img {
    width: 100%;
    height: auto; }
  .gallery-wrapper figure:hover {
    transform: scale(1.1); }

.subscribe {
  background-color: #000000;
  padding-top: 100px; }
  .subscribe .wrapper {
    text-align: center; }
  .subscribe a:hover {
    color: #ffffff !important; }
  .subscribe input[type="text"]:focus {
    outline: none; }

.sub-input {
  width: 600px;
  border: 2px solid #ffffff;
  background-color: #000000;
  height: 60px;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  font-size: 18pt;
  font-weight: 300;
  padding-left: 6rem;
  margin-bottom: 4rem;
  position: relative;
  left: 38px; }

.sub-button {
  border: 2px solid #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  padding: 1.3rem;
  text-decoration: none !important;
  position: relative;
  left: 38px; }

footer {
  background-color: #000000;
  padding-top: 14rem;
  color: #ffffff; }
  footer .wrapper {
    text-align: center; }
  footer img {
    height: 3rem;
    width: auto; }
  footer a {
    position: relative;
    left: 38px;
    top: -5px; }
  footer a:hover {
    position: relative;
    top: -7px; }
  footer span {
    position: relative;
    left: 38px; }

/*# sourceMappingURL=home.css.map */
